.hero-section
    align-items: flex-start
    display: flex
    min-width: 1440px

.overlap-group
    height: 840px
    position: relative
    width: 100vw

.image-slider,
.image-slider.animate-enter
    display: block
    left: 0
    object-fit: cover
    position: absolute
    top: 0
    width: 100vw
    height: 100vh
    opacity: 1
    animation: animate-enter-frames 3s

.hero-title,
.hero-title.animate-enter3
    left: 72px
    letter-spacing: 3.00px
    line-height: 170px
    position: absolute
    text-align: center
    top: 100px
    width: 1296px
    animation: animate-enter3-frames 3s

.heroSectionContainer
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    height: fit-content

@keyframes animate-enter-frames
    from
        opacity: 0
    to
        opacity: 1

@keyframes animate-enter3-frames
    from
        opacity: 0
        transform: translate(0, 100px)
    to
        opacity: 1
        transform: translate(0, 0)

@media screen and ( max-width: 1440px )
