.hero-section
    align-items: flex-start
    display: flex

.slick-dots
    display: flex
    justify-content: center
    align-items: center
    transform: translate(0, -7vh)

.overlap-group-1
    height: 840px
    position: relative
    width: 100vw

.image-slider
    display: block
    left: 0
    object-fit: cover
    top: 0
    width: 100vw
    height: 95vh
    opacity: 0.4

.colorBg
    background: rgba(0, 9, 43, 1)

.hero-title, .hero-title-1
    left: 72px
    letter-spacing: 3.00px
    line-height: 170px

    text-align: center
    top: 100px
    width: 1296px
    margin-top: 50px

.heroSectionContainer
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 100vw
    height: fit-content
    position: relative
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.image-slider
    background-size: cover
    // padding-top: 20vh

.controls
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 100%
    margin-top: 96px
