.section
    margin-top: 10vh
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

.descriptionText
    font-family: Inter
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 24px
    text-align: center
    color: #001833
    max-width: 70vw
    margin-top: 20px

@media screen and ( max-width: 750px )
    .descriptionText
        max-width: 90vw
        width: 90vw

    .section
        margin-top: 50px
