.hero-title-1
    letter-spacing: 3.00px
    text-align: center
    white-space: nowrap
    font-size: 96px
    width: 100%

.wwd-details
    display: flex
    flex-wrap: wrap
    width: auto
    justify-content: center

.wwd-section
    margin-top: 200px
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

@media screen and ( max-width: 750px )
    .hero-title-1
        font-size: 48px

    .wwd-section
        margin-top: 100px
