@import '../../variables'

.component-4
    align-items: center
    display: flex
    flex-direction: column
    min-height: 418px

.hiw-sub-title
    margin: 36px 0
    text-align: center
    width: 65vw
    line-height: 24px

.hero-cta
    background-color: $azure-radiance
    border-radius: 6px
    height: 68px
    margin-left: 1.0px
    width: -moz-fit-content
    width: fit-content

.label
    align-items: center
    display: flex
    height: 100%
    &-1
        flex: 1
        height: 24px
        letter-spacing: 0
        line-height: 24px
        text-shadow: 0px 1px 2px #0000000a
        white-space: nowrap

*
    box-sizing: border-box
    &:focus
        outline: none

@media screen and ( max-width: 750px )
    .hiw-sub-title
        width: 85vw
