@import '../../variables'
.footer-desktop,
.footer-desktop.animate-enter1
    background-color: #FAFCFF
    box-shadow: 0px -4px 24px #0000001a
    height: 466px
    position: relative
    width: 1440px
    transform: translate(0, 25px)
    margin: 0 auto
    width: 100%
    display: flex
    justify-content: space-evenly
    align-items: center
    margin-top: 50px

.footerContainer
    width: 70vw
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

.footer-make-a-donation-copy
    left: 72px
    letter-spacing: 0
    line-height: 24px
    top: 104px

.footer-make-a-donation-copy-1
    left: 72px
    letter-spacing: 0.80px
    top: 368px

.footer-make-a-donation-copy-2
    left: 1126px
    letter-spacing: 0.80px
    top: 368px

.footer-make-a-donation-copy-3
    left: 620px
    letter-spacing: -0.40px
    line-height: 24px
    top: 100px
    white-space: nowrap

.footer-make-a-donation-copy-4
    left: 840px
    letter-spacing: -0.40px
    line-height: 24px
    top: 100px
    white-space: nowrap

.footer-make-a-donation-copy-5
    left: 620px
    letter-spacing: -0.40px
    line-height: 24px
    top: 132px
    white-space: nowrap

.footer-make-a-donation-copy-6
    left: 840px
    letter-spacing: -0.40px
    line-height: 24px
    top: 132px
    white-space: nowrap

.footer-make-a-donation-copy-7
    left: 620px
    letter-spacing: -0.40px
    line-height: 24px
    top: 164px
    white-space: nowrap

.footer-make-a-donation-copy-8
    left: 840px
    letter-spacing: -0.40px
    line-height: 24px
    top: 164px
    white-space: nowrap

.footer-make-a-donation-copy-9
    left: 840px
    letter-spacing: -0.40px
    line-height: 24px
    top: 196px
    white-space: nowrap

.footer-make-a-donation-copy-10
    left: 620px
    letter-spacing: -0.40px
    line-height: 24px
    top: 196px
    white-space: nowrap

.preview
    height: 28px
    left: 74px
    top: 51px
    margin-bottom: 20px

.preview-1
    left: 620px
    letter-spacing: -0.08px
    line-height: 40px
    top: 48px
    white-space: nowrap
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 40px
    letter-spacing: -0.08px

.preview-2
    left: 840px
    letter-spacing: -0.08px
    line-height: 40px
    top: 48px
    white-space: nowrap
    font-family: Inter
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 40px
    letter-spacing: -0.08px

.preview-3,
.preview-3.animate-enter
    display: block
    height: 244px
    left: 1166px
    top: 48px
    animation: footer-image-anim 1000ms

.socialLinks
    margin: 20px

.pages
    margin: 20px
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap

    a, h1
        width: 100%
        text-decoration: none

.registrations
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    margin-top: 35px

.links
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 90vw
    width: 33%


.leftdescription
    width: 33%

.top
    display: flex
    justify-content: space-between
    align-items: flex-start
    flex-wrap: wrap

@keyframes footer-image-anim
    from
        opacity: 0
        transform: rotate(25deg)
    to
        opacity: 1
        transform: rotate(0)

@keyframes animate-enter1-frames
    from
        opacity: 0
        transform: translate(0, 25px)
    to
        opacity: 1
        transform: translate(0,0)

@media screen and ( max-width: 1050px )
    .preview-3
        display: none !important

@media screen and ( max-width: 750px )
    .footer-desktop
        margin-top: 50px !important

    .footerContainer
        justify-content: center
        width: 90vw

    .footer-make-a-donation-copy
        width: auto

    .leftdescription
        width: 100%

    .links
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 90vw
        width: auto

    .preview-3
        display: none !important

    .footer-make-a-donation-copy-1
        font-size: 20px

    .footer-make-a-donation-copy-2
        display: none
