@import './variables'

.inter-semi-bold-soapstone-20px
    color: $soap-stone
    font-family: $font-family-inter
    font-size: $font-size-l2
    font-style: normal
    font-weight: 600

.merriweather-bold-soapstone-136px
    color: $soap-stone
    font-family: $font-family-merriweather
    font-size: $font-size-l
    font-style: normal
    font-weight: 700

.merriweather-bold-darkblue-136px
    color: $ippus-5
    font-family: $font-family-merriweather
    font-size: $font-size-l
    font-style: normal
    font-weight: 700

@media screen and ( max-width: 375px )
    .merriweather-bold-soapstone-136px, .merriweather-bold-darkblue-136px
        font-size: 48px !important
