@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Inter:400,700,500,600")

$ippus-5: #000C19
$azure-radiance: #0077ff
$havelock-blue: #4f94e2
$ippus-95: #E5F1FF
$hawkes-blue: #cce4ff
$soap-stone: #fffaf9
$font-size-l: 136px
$font-size-l2: 20px
$font-family-inter: "Inter", Helvetica
$font-family-merriweather: "Merriweather", Helvetica

body
    margin: 0
    padding: 0
