@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Inter:400,700,500,600|Poppins:400,700|DM+Sans:400")
$azure-radiance: #0077ff
$havelock-blue: #4f94e2
$hawkes-blue: #cce4ff
$ippus---21299: #fffaf9
$font-size-l: 136px
$font-size-l2: 20px
$font-family-inter: "Inter", Helvetica
$font-family-merriweather: "Merriweather", Helvetica

body
    margin: 0
    padding: 0
