.wwd-empowers-industry
  height: 284px
  position: relative
  width: 423px

.wwd-empowers-indus
  left: 50px
  letter-spacing: 0.88px
  line-height: 32px
  
  text-align: center
  top: 120px
  white-space: nowrap

.wwd-empower-copy
  left: 0
  letter-spacing: -0.20px
  line-height: 24px
  
  text-align: center
  top: 188px
  width: 419px

@import '../../variables'

.wwd-empower-icon
  background-color: $ippus-95
  border-radius: 48px
  display: flex
  height: 96px
  left: 162px
  
  top: 0
  width: 96px

.wwd-power-icon
  height: 48px
  margin-left: 23px
  margin-top: 24px
  width: 48px


@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")

@import url("https://fonts.googleapis.com/css?family=Merriweather:700|Inter:400,700,500,600")


*
  box-sizing: border-box